doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title QUẢN LÝ
		// Google Font: Source Sans Pro
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback')
		// Font Awesome
		link(rel='stylesheet' href='/plugins/fontawesome-free/css/all.min.css')
		// DataTables
		link(rel='stylesheet' href='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')
		link(rel='stylesheet' href='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')
		link(rel='stylesheet' href='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')
		// Theme style
		link(rel='stylesheet' href='/dist/css/adminlte.css')
		block style
	body.hold-transition.sidebar-mini
		.wrapper
			// Navbar
			nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
				// Left navbar links
				ul.navbar-nav
					li.nav-item
						a.nav-link(data-widget='pushmenu' href='#' role='button')
							i.fas.fa-bars
					li.nav-item
						a.nav-link(href='/home') Trang chủ
					li.nav-item
						a.nav-link(href='/teacher/user') Thông tin cá nhân
					li.nav-item
						a.nav-link(href='/login/logout') Đăng xuất
			// /.navbar
			// Main Sidebar Container
			aside.main-sidebar.sidebar-dark-primary.elevation-4
				// Brand Logo
				a.brand-link(href='/index3.html')
					span.brand-text.font-weight-light Quản lý người dùng
				// Sidebar
				.sidebar
					// Sidebar Menu
					nav.mt-2
						ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
							
							li.nav-item
								a.nav-link(href='/teacher')
									i.nav-icon.far.fa-user
									p
										| Quản lý học viên
						
					
					// /.sidebar-menu
				// /.sidebar
			// Content Wrapper. Contains page content
			.content-wrapper
				block content 
					section.content-header
						.container-fluid
							.row.mb-2
								.col-sm-6
									h1 QUẢN LÝ NGƯỜI DÙNG
					section.content
						.container-fluid
							.row
								.col-12
									.card
										.card-body
											.row 
												.col-12 
																			
											.row
												.col-12
													table#tab-faculty.table.table-bordered.table-striped
														thead
															tr
																th.text-center STT
																th.text-center Khóa Học
																th.text-center Lớp
																th.text-center Tên học viên
																th.text-center Số điện thoại
																th.text-center Email
														tbody
															each user, index in classs
																tr 
																	td.text-center=index + 1
																	td.text-center=user.coursename
																	td.text-center=user.classID
																	td.text-center=user.fullname
																	td.text-center=user.phone
																	td.text-center=user.email													
						#checkModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='chechModalLabel' aria-hidden='true')
							.modal-dialog(role='document')
								.modal-content
									.modal-header.bg-success
										h5.modal-title XÁC NHẬN
										button.close(type='button' data-dismiss='modal' aria-label='Close')
											span(aria-hidden='true') &times;
									form(action="/users/check", method="post")
										.modal-body
											input(type="hidden", name="username")
											p BẠN ĐÃ LIÊN LẠC HỌC VIÊN?
										.modal-footer
											button.btn.btn-outline-light(type='button' data-dismiss='modal' style={'background-color':'black'}) Đóng lại
											button.btn.btn-outline-light(type='submit' style={'background-color':'black'}) Xác nhận
			footer.main-footer
				.float-right.d-none.d-sm-block
					b Version
					| 3.1.0
				strong Copyright &copy; 2014-2021 
					a(href='https://adminlte.io') AdminLTE.io
					| .
				| All rights reserved.
			// Control Sidebar
			aside.control-sidebar.control-sidebar-dark
				// Control sidebar content goes here
			// /.control-sidebar
		// ./wrapper
		// jQuery
		script(src='/plugins/jquery/jquery.min.js')
		// Bootstrap 4
		script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
		// DataTables  & Plugins
		script(src='/plugins/datatables/jquery.dataTables.min.js')
		script(src='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')
		script(src='/plugins/datatables-responsive/js/dataTables.responsive.min.js')
		script(src='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')
		script(src='/plugins/datatables-buttons/js/dataTables.buttons.min.js')
		script(src='/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')
		script(src='/plugins/jszip/jszip.min.js')
		script(src='/plugins/pdfmake/pdfmake.min.js')
		script(src='/plugins/pdfmake/vfs_fonts.js')
		script(src='/plugins/datatables-buttons/js/buttons.html5.min.js')
		script(src='/plugins/datatables-buttons/js/buttons.print.min.js')
		script(src='/plugins/datatables-buttons/js/buttons.colVis.min.js')
		// AdminLTE App
		script(src='/dist/js/adminlte.min.js')
		block script 
		script(src="/js/check.js") 



