extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 QUẢN LÝ NGƯỜI DÙNG
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							.row
								.col-12
									table#tab-faculty.table.table-bordered.table-striped
										thead
											tr
												th STT
												th Tên
												th Tên đăng nhập
												th Email
												th Số điện thoại
												th Thời điểm đăng ký
												th Tình trạng
												th Xác nhận 
										tbody
											each user, index in userList 
												tr 
													td=index + 1
													td=user.fullname
													td=user.username
													td=user.email
													td=user.phone
													td=moment(user.createdAt).format('DD/MM/YYYY')
													td=user.confirmSituation
													td.text-center
														if user.confirmSituation=='Chưa xác nhận'
															btn.btn-a.btn.btn-primary.btn-xs(style="margin-right: 5px;", data-username=user.username) 
																i.fas.fa-check
						#checkModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='chechModalLabel' aria-hidden='true')
							.modal-dialog(role='document')
								.modal-content
									.modal-header.bg-success
										h5.modal-title XÁC NHẬN
										button.close(type='button' data-dismiss='modal' aria-label='Close')
											span(aria-hidden='true') &times;
									form(action="/users/check", method="post")
										.modal-body
											input(type="hidden", name="username")
											p BẠN ĐÃ LIÊN LẠC HỌC VIÊN?
										.modal-footer
											button.btn.btn-outline-light(type='button' data-dismiss='modal' style={'background-color':'black'}) Đóng lại
											button.btn.btn-outline-light(type='submit' style={'background-color':'black'}) Xác nhận
							
block script 
	script(src="/js/check.js") 
