extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 QUẢN LÝ NGƯỜI DÙNG
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							.row 
								.col-12 
									// Modal
									#addUserModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addUserModal' aria-hidden='true')
										.modal-dialog(role='document')
											.modal-content
												.modal-header
													h5.modal-title Thêm mới
													button.close(type='button' data-dismiss='modal' aria-label='Close')
														span(aria-hidden='true') &times;
												form(action="/users/add", method="post")
													.modal-body
														.form-group
															label Email
															input.form-control(type='email' placeholder='Email' name='email')
														.form-group
															label Mật khẩu
															input.form-control(type='password' placeholder='Mật khẩu' name='password')
													.modal-footer
														button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng lại
														button.btn.btn-primary(type='submit') Thêm mới
							
							.row
								.col-12
									table#tab-faculty.table.table-bordered.table-striped
										thead
											tr
												th.text-center STT
												th.text-center Tên người đăng ký
												th.text-center Khóa học
												th.text-center Lớp học
												th.text-center Tình trạng học phí
												th.text-center Xác nhận học phí
										tbody
											each user, index in list 
												tr 
													td.text-center=index + 1
													td.text-center=user.fullname
													td.text-center=user.coursename
													td.text-center=user.classID
													td.text-center=user.feeSituation
													td.text-center
														if user.feeSituation=='Chưa nộp học phí'
															btn.btn-fee.btn.btn-primary.btn-xs(style="margin-right: 5px;", data-id=user.ID, data-class=user.classID) 
																i.fas.fa-check
						#feeModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='chechModalLabel' aria-hidden='true')
							.modal-dialog(role='document')
								.modal-content
									.modal-header.bg-success
										h5.modal-title XÁC NHẬN
										button.close(type='button' data-dismiss='modal' aria-label='Close')
											span(aria-hidden='true') &times;
									form(action="/users/fee", method="post")
										.modal-body
											input(type="hidden", name="id")
											input(type="hidden", name="classID")
											p HỌC VIÊN NÀY ĐÃ NỘP HỌC PHÍ?
										.modal-footer
											button.btn.btn-outline-light(type='button' data-dismiss='modal' style={'background-color':'black'}) Đóng lại
											button.btn.btn-outline-light(type='submit' style={'background-color':'black'}) Xác nhận
							
block script 
	script(src="/js/check.js") 
