doctype html
html(lang='vn')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
    link(rel='stylesheet' href='../../dist/css/style.css')
    // DataTables
    link(rel='stylesheet' href='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')
    link(rel='stylesheet' href='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')
    link(rel='stylesheet' href='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')

  body
    .small-container.course-detail
      .row
        .col-2
          img(src="../dist/img/ielts-4.5.1.png")
        .col-2
          p Khóa học / #{classTaken.coursename}
          h1 [Khóa học] #{classTaken.coursename}
          h4 #{courseTaken.fee} VNĐ
          p
            b Mã lớp: 
            | #{classTaken.ID}
          p
            b Chi nhánh: 
            | #{classTaken.branchAddress}
          p
            b Ngày khai giảng: 
            | #{moment(classTaken.startday).format('DD/MM/YYYY')}
          p
            b Ngày kết thúc: 
            | #{moment(classTaken.endday).format('DD/MM/YYYY')}
          p
            b Thời lượng: 
            | #{courseTaken.totaltime} giờ
          p
            b Ca học: 
            |  #{classTaken.schedule}
          a.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal') Đăng ký
        // Modal
        #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title Xác nhận
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                | Bạn sẽ đăng ký lớp học này?
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
                button.btn.btn-primary(type='button') Đăng ký
          script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js' integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB' crossorigin='anonymous')
          script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js' integrity='sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13' crossorigin='anonymous')
          // jQuery
          script(src='/plugins/jquery/jquery.min.js')
          // Bootstrap 4
          script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
          // DataTables  & Plugins
          script(src='/plugins/datatables/jquery.dataTables.min.js')
          script(src='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')
          script(src='/plugins/datatables-responsive/js/dataTables.responsive.min.js')
          script(src='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')
          script(src='/plugins/datatables-buttons/js/dataTables.buttons.min.js')
          script(src='/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')
          script(src='/plugins/jszip/jszip.min.js')
          script(src='/plugins/pdfmake/pdfmake.min.js')
          script(src='/plugins/pdfmake/vfs_fonts.js')
          script(src='/plugins/datatables-buttons/js/buttons.html5.min.js')
          script(src='/plugins/datatables-buttons/js/buttons.print.min.js')
          script(src='/plugins/datatables-buttons/js/buttons.colVis.min.js')
          // AdminLTE App
          script(src='/dist/js/adminlte.min.js')
          block script
          script(src="/js/table.js") 

